proj.cs/obj/
proj.unity/Assets/Atom/Atom.dll
proj.unity/Assets/Atom/Atom.dll.mdb
proj.unity/Assets/Atom/Atom.dll.mdb.meta
proj.unity/Assets/Atom/Atom.dll.meta
proj.unity/Assets/Atom/Atom.pdb.meta
proj.cs/bin/
proj.unity/Library/
proj.unity/Temp/
